  <head>
 <meta name="description" content="Viewing the groups details.">
  <meta name="keywords" content="View, Groups, Details">
  </head>
 
<main class="container mt-5">
  {{#with group}}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/group/">Group</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
    </ol>
  </nav>
  


    <div class="col-md-6">
      <div class="card mb-3 px-3">
        <h2 class="card-header pt-2">{{name}}</h2>
        <span class="mb-2 font-weight-bold font-italic">Description: {{description}}</span>
        <div class="card-text mb-2">Members: {{member_count}}</div>
      </div>
    </div>
   
{{/with}}
 {{!-- {{#each post}}
  <div class="col-md-6">
      <div class="card mb-3 px-3">
        <h2 class="card-header pt-2">{{title}}</h2>
        <span class="mb-2 font-weight-bold font-italic">{{date}}</span>
        <div class="card-text mb-2"> {{body}}</div>
      </div>
    </div>
    {{/each}} --}}
 <script  src="/js/jquery-3.5.1.min.js"></script>
  <script  src="/js/oboe-browser.min.js"></script>
</main>